header a {
    text-decoration: none ;
    padding: 24px;
    margin: 12px;
}
header, .nav-links{ 
    display: flex;
    flex-direction: row;
    color: cyan;
    background-color: palevioletred;

}


header, .nav-links:hover{
    color: rgb(214, 214, 22);
}
