header {
    display: flex;
    justify-content: center;  
    gap: 280px;  
    align-items: center;       
    padding: 10px;         
    background-color:white;
    width: 100%;
    position: fixed;           
    top: 0;
    left: 0;
    z-index: 1000; 
}

.nav-links {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-links:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    header {
        gap: 30px;
    }

    .nav-links {
        font-size: 18px;
        padding: 8px 15px;
    }
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        width: 100%; 
        text-align: center; 
        padding: 10px 0;
        font-size: 16px;
    }
}