header {
    display: flex;
    justify-content: space-between;  
    gap: -20px;  
    align-items: center;       
    padding: 10px;         
    background-color: paleturquoise;
    width: 100%;
    position: fixed;           
    top: 0;
    left: 0;
    z-index: 1000; 
}

.nav-links {
    text-decoration: none;
    color: black;

}

