body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    background: rgba(40, 57, 101, 0.9);
    border-radius: 15px;
    padding: 40px 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transform: rotateY(0);
    transition: transform 0.5s ease;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: #fff;
    outline: none;
}

input::placeholder {
    color: #bbb;
}

button {
    background-color: #1161ee;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0e4bcd;
}

.switch-text {
    text-align: center;
    color: #fff;
}

.link-btn {
    color: #00f2fe;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
}

.link-btn:hover {
    text-decoration: underline;
}
